footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-top: 2px solid #F24822;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;

}