footer {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    border-top: 2px solid #f24822;
    width: 100%;

}


footer p {
    margin: 0;
    font-size: 14px;
}